.markdown {
    color: #314659;
    font-size: 14px;
    line-height: 2
}

.highlight {
    line-height: 1.5
}

.markdown img {
    max-width: calc(100% - 32px)
}

.markdown p>img {
    margin: 34px 0;
    -webkit-box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
    box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35)
}

.markdown h1 {
    color: #0d1a26;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 8px;
    font-family: Avenir, "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 30px;
    font-variant: tabular-nums;
    line-height: 38px
}

.markdown h1 .subtitle {
    margin-left: 12px
}

.markdown h2 {
    font-size: 24px;
    line-height: 32px
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    color: #0d1a26;
    font-family: Avenir, "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-variant: tabular-nums;
    margin: 1.6em 0 .6em;
    font-weight: 500;
    clear: both
}

.markdown h3 {
    font-size: 18px
}

.markdown h4 {
    font-size: 16px
}

.markdown h5 {
    font-size: 14px
}

.markdown h6 {
    font-size: 12px
}

.markdown hr {
    height: 1px;
    border: 0;
    background: #ebedf0;
    margin: 56px 0;
    clear: both
}

.markdown p,
.markdown pre {
    margin: 1em 0
}

.markdown ul>li {
    list-style-type: circle;
    margin-left: 20px;
    padding-left: 4px
}

.markdown ul>li:empty {
    display: none
}

.markdown ol>li {
    list-style-type: decimal;
    margin-left: 20px;
    padding-left: 4px
}

.markdown ul>li>p,
.markdown ol>li>p {
    margin: .2em 0
}

.markdown code {
    margin: 0 1px;
    background: #f2f4f5;
    padding: .2em .4em;
    border-radius: 3px;
    font-size: .9em;
    border: 1px solid #eee
}

.markdown pre {
    border-radius: 2px;
    background: #f2f4f5;
    font-family: 'Lucida Console', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
}

.markdown pre code {
    border: none;
    background: #f2f4f5;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #314659;
    overflow: auto
}

.markdown strong,
.markdown b {
    font-weight: 500
}

.markdown>table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #ebedf0;
    width: 100%;
    margin: 8px 0 16px
}

.markdown>table th {
    white-space: nowrap;
    color: #5c6b77;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.02)
}

.markdown>table th,
.markdown>table td {
    border: 1px solid #ebedf0;
    padding: 16px 24px;
    text-align: left
}

.markdown blockquote {
    font-size: 90%;
    color: #697b8c;
    border-left: 4px solid #ebedf0;
    padding-left: .8em;
    margin: 1em 0
}

.markdown blockquote p {
    margin: 0
}

.markdown .anchor {
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    margin-left: 8px
}

.markdown .waiting {
    color: #ccc;
    cursor: not-allowed
}

.markdown a.edit-button {
    display: inline-block;
    margin-left: 8px;
    text-decoration: none
}

.markdown a.edit-button i {
    color: #697b8c
}

.markdown a.edit-button i:hover {
    color: #1890ff
}

.markdown a.edit-button .anticon {
    display: block;
    font-size: 16px
}

.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
    opacity: 1;
    display: inline-block
}

.markdown>br,
.markdown>p>br {
    clear: both
}

.markdown.api-container table {
    font-size: 14px;
    line-height: 1.5;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-width: 0;
    margin: 2em 0
}

.markdown.api-container table th,
.markdown.api-container table td {
    padding: 14px 16px;
    border-width: 1px 0;
    border-color: #e8e8e8
}

.markdown.api-container table th {
    border-width: 0 0 2px 0
}

.markdown.api-container table td:first-child {
    font-weight: 500;
    width: 20%;
    color: #003a8c
}

.markdown.api-container table td:nth-child(3) {
    width: 22%;
    font-size: 13px;
    color: #c41d7f;
    word-break: break-all
}

.markdown.api-container table td:last-child {
    width: 13%;
    font-size: 13px
}

.markdown ul.ant-timeline {
    line-height: 2
}

.markdown ul.ant-timeline li.ant-timeline-item {
    list-style: none;
    margin: 0;
    padding: 0 0 30px
}

.markdown ul.ant-timeline li.ant-timeline-item .ant-timeline-item-content {
    font-size: 14px;
    padding-left: 32px;
    position: relative;
    top: -14px
}

.markdown ul.ant-timeline li.ant-timeline-item .ant-timeline-item-content>h2 {
    margin-top: 0;
    padding-top: 4px
}

.markdown ul.ant-timeline li.ant-timeline-item:first-child {
    margin-top: 40px
}